@use 'sass:map';
@use './vars';


// Медиа-выражение mobile-first
@mixin media-up($width) {
  @media (min-width: $width) {
    @content;
  }
}

// Медиа-выражение
@mixin media-down($width) {
  @media (max-width: $width) {
    @content;
  }
}

// Контрольная точка desktop-first
@mixin bp-desk($name) {
  $width: map.get(vars.$breakpoints, $name);
  @include media-down($width) {
    @content;
  }
}

// Контрольная точка mobile-first
@mixin bp-mobile($name) {
  $width: map.get(vars.$breakpoints, $name);
  @include media-up($width) {
    @content;
  }
}