//* ============== Variables ============

@use './vars';

//* ============== Fonts ================

// @use './fonts';

//* ============== Reset & base styles =============

//* ===== Mixins =====

@use './mixins';

// ============ Blocks ==============

@use './blocks/btn';
@use './blocks/bankroll-app';
@use './blocks/side-bar';
@use './blocks/hero-left-side';
@use './blocks/level';
@use './blocks/bottom-input';
@use './blocks/entry';
@use './blocks/changing-background-section';
@use './blocks/avatar-border';
@use './blocks/change-nickname';
@use './blocks/change-color-nickname';
@use './blocks/change-direction-nickname';
@use './blocks/direction-nickname-controls';
@use './blocks/rotation-nickname';
@use './blocks/rotate-controls';
@use './blocks/quontity-buy-in';

// @import "./blocks/slick";

// ======== helpers =========
@use './blocks/helpers';


*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  background-color: vars.$bg-color;
  transition: color 0.5s ease-in, background-color 0.5s ease-in;
}
.body {
  &--light {
    color: vars.$black;
    background-color: vars.$white;
  }
  &--dark {
    color: vars.$white;
    background-color: vars.$black;
  }
}

a {
  text-decoration: none;
  color: vars.$black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  line-height: 1;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number']:hover,
input[type='number']:focus {
  -moz-appearance: number-input;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.container {
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 1170px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}

button {
  font-family: inherit;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

button:focus,
a:focus {
  outline: none;
}

::selection {
  background-color: #6669ad;
  color: vars.$white;
}
// ============ Visualy removing element from page

.vhidden {
  transform: scale(0);
  opacity: 0;
  height: 0;
  width: 0;
}

