// Ограничение макета
$wrapper-max: 1440px !default;
$wrapper-min: 280px !default;

// Контейнер
$container-max-widths: 1170px;
$container-padding: 15px;

// Контрольные точки
$breakpoints: (
  mobile-l: 0,
  mobile-md: 450px,
  mobile-sm: 576px,
  mobile: 768px,
  mobile-up: 769px,
  ipad-air: 820px,
  tablet: 992px,
  tablet-landscape: 1180px,
  notebook: 1200px,
  desktop: 1400px,
) !default;




$primary-color: #134d7c;
$bg-color: rgba(19, 77, 124, 0.7);
$color-title-decore: #94da25;
$secondary-color: #1f698e;
$color-lever-bar: #d55916;
$border-line-color: #e3c5e0;
$decrease-level-color: #d63838;


$dark-color: blue;
$black: #2b2b2b;
$white: #fff;
$color-grey: #b8b8d3;
$color-dark: #6669ad;
$color-dark-icon: #cfbd87;
$orange:darkorange;
$btn-color: bisque;
$color-light: steelblue;
$brown-color: burlywood;
$border-settings-board: 2px;