.avatar-border {

    // .avatar-border__title

    &__title {
      color: $white;
      text-transform: uppercase;
      margin-bottom: 20px;
      font-size: 1.3rem;
      line-height: 1.5;
    }

    // .avatar-border__label

    &__label {
      cursor: pointer;
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      margin-right: 30px;
      display: inline-block;
      background-color: transparent;
      border: 2px solid $color-title-decore;
      box-shadow: 0 0 15px $color-title-decore;
    }
    &__remove-border-btn {
      position: relative;
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      border: 2px solid $color-title-decore;
      box-shadow: 0 0 15px $color-title-decore;
      &::after {
        content: '';
        position: absolute;
        left: -3px;
        top: calc(50% - 1px);
        transform: rotate(45deg);
        width: 23px;
        height: 2px;
        background-color: $color-lever-bar;
      }
      &::before {
        content: '';
        position: absolute;
        right: -3px;
        top: calc(50% - 1px);
        transform: rotate(-45deg);
        width: 23px;
        height: 2px;
        background-color: $color-lever-bar;
      }
    }
    &__elements-of-controls {
      display: flex;
    }
}
