.change-nickname {
  &__title {
    color: $white;
    line-height: 1.6;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-bottom: 30px;

  }
  &__input {
    padding: 7px;
    border: 2px solid $color-title-decore;
    color: $color-title-decore;
    font-family: inherit;
    background-color: transparent;
    outline: none;
  }
}
