.level {
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 3px $white;
  background-color: $color-lever-bar;
  display: inline-block;
  &__title {
    font-size: 3rem;
    text-transform: uppercase;
    color: $white;
  }
  &__level-up {
    color: $color-title-decore;
    font-size: 3rem;
  }
}