@use '../vars.scss';
@use '../mixins.scss';

.bottom-input {
  @include mixins.bp-desk(tablet) {
    width: 75%;
    margin: auto;
  }
  @include mixins.bp-desk(mobile) {
    width: 100%;
    margin: auto;
  }
  &__title {
    text-transform: uppercase;
    color: vars.$white;
    margin-bottom: 30px;
    font-size: 2.25rem;
    @include mixins.bp-desk(mobile) {
      font-size: 1.7rem;
    }
  }
  &__input {
    padding: 10px;
    background-color: transparent;
    border: 3px solid vars.$color-title-decore;
    border-radius: 10px;
    cursor: pointer;
    color: vars.$color-title-decore;
    height: 100px;
    width: 100%;
    max-width: 290px;
    font-size: 7.2rem;
    outline: none;
    @include mixins.bp-desk(tablet) {
      max-width: 100%;
    }
    @include mixins.bp-desk(mobile) {
      height: 50px;
      font-size: 3.5rem;
    }
  }
  &__money-value {
    color: vars.$color-title-decore;
    font-size: 7.2rem;
    @include mixins.bp-desk(mobile) {
      font-size: 3.5rem;
    }
  }
  &__input-box {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
  }

  &__changing-background-section {
    margin-bottom: 30px;
  }
}
