@use '../vars.scss';

.direction-nickname-controls {
  width: 70px;
  height: 70px;
  &__btn {
    position: absolute;
  }
  &__icon {
    fill: vars.$color-title-decore;
    width: 17px;
    height: 17px;
    filter:drop-shadow(0 0 3px vars.$color-title-decore);
  }
  &--left {
    left: 0;
    top: 52%;
    transform: translateY(-50%);
  }
  &--top {
    top: 0;
    left: 47.5%;
    transform: translateX(-50%) rotate(90deg);
  }
  &--right {
    right: 0;
    top: 47%;
    transform: translateY(-50%) rotate(180deg);
  }
  &--bottom {
    bottom: 0;
    left: 53.5%;
    transform: translateX(-50%) rotate(270deg);
  }
}