@use '../vars.scss';
@use '../mixins.scss';

.entry {
  // .entry__description-text
  &__cash {
    margin-bottom: 25px;
  }
  &__quontity-buy-in {
    color: vars.$color-title-decore;
  }
  &__description-text {
    display: inline-block;
    color: vars.$white;
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 20px;
    &-cash {
      margin-bottom: 30px;
    }
    &--forbidden {
      color: vars.$decrease-level-color;
    }
  }

  // .entry__value

  &__box-cost {
    color: vars.$color-title-decore;
    font-weight: 700;
    font-size: 2.7rem;
  }
  &__tournaments-mtt {
    margin-bottom: 20px;
  }
  &__buy-in-value {
    font-size: 25px;
    font-weight: 700;
  }
  &__buy-in-value-cash {
    font-size: 25px;
    font-weight: 700;
  }
  &__cash-forbiden-text {
    color: vars.$decrease-level-color;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0;
    transform: scale(0);
    height: 0;
    width: 0;
    &--active {
      opacity: 1;
      transform: scale(1);
      height: auto;
      width: auto;
    }
  }
  &__cash-value-box {
    margin: 0;
    &--forbidden {
      color: vars.$decrease-level-color;
    }
  }
  &__mtt-box,
  &__cash-box,
  &__satellites-box {
    padding: 25px 15px;
    border: 2px solid vars.$color-lever-bar;
    box-shadow: 0 0 15px vars.$color-lever-bar;
    background-color: vars.$black;
    border-radius: 10px;
    margin-bottom: 25px;
  }
  &__mtt-title,
  &__cash-title,
  &__satellites-title {
    font-size: 3.5rem;
    color: vars.$color-lever-bar;
    margin-bottom: 20px;
    @include mixins.bp-desk(mobile) {
      font-size: 3rem;
    }
  }
  &__satellites {
    margin-bottom: 20px;
  }
  &__sat-text-forbidden {
    color: vars.$decrease-level-color;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.5;
    transform: scale(0);
    opacity: 0;
    height: 0;
    width: 0;
    &--active {
      transform: scale(1);
      opacity: 1;
      height: auto;
      width: auto;
    }
  }
}
