@use '../vars.scss';

.level {
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 3px vars.$white;
  background-color: vars.$color-lever-bar;
  display: inline-block;
  &__title {
    font-size: 3rem;
    text-transform: uppercase;
    color: vars.$white;
  }
  &__level-up {
    color: vars.$color-title-decore;
    font-size: 3rem;
  }
}