@use '../vars.scss';

.side-bar {
  &__level {
    margin-top: 30px;
    margin-bottom: 35px;
  }
  &__decrease-level,
  &__increase-level {
    display: inline-block;
    transition: opacity .3s ease-in, transform .3s ease-in, width .3s ease-in, height .3s ease-in;
    opacity: 0;
    transform: scale(0);
    visibility: hidden;
    height: 0;
    width: 0;
  }
  &__status-level {
    text-transform: uppercase;
    font-weight: 700;
    min-height: 111px;
    // color: $decrease-level-color;
    &-up {
      opacity: 1;
      transform: scale(1);
      color: vars.$color-title-decore;
      width: auto;
      height: auto;
      visibility: visible;
    }
    &-down {
      opacity: 1;
      transform: scale(1);
      color: vars.$decrease-level-color;
      width: auto;
      height: auto;
      visibility: visible;
    }
  }
}
